body{width: 100%;}

/**** CABECERA ****/
header {height: 210px;}

img#logo {
    width: 420px;
    height: 250px;
}

h1#titulo {
    margin-top: 100px;
    text-align: left;
}

/**** CUERPO ****/
div.seccion-principal{background-color: grey;}
div.entrada{margin-left: 10px; margin-top: 10px;}
div.formulario-login{margin-right: 60px;}
div.formulario-registro{margin-right: 60px;}
div.opciones{margin: 10px 10px 10px 10px;}
div.opciones button{width: 200px; text-align: center;}
div.formulario{margin: 10px 10px 10px 10px;}
div.entrada h2{color: #0EAF29; text-shadow: 2px 2px 4px #000000;}
div.resultado-busqueda h2{color: #0EAF29; text-shadow: 2px 2px 4px #000000;}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

/**** PIE DE PÁGINA ****/
footer {
    display: block;
    background-color: #343a40;
}

footer p {
    color: white;
    font: bold;
    padding: 10px 10px 10px 10px;
}
/**** BARRA SOCIAL ****/
.fa {
    padding: 10px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

footer .fa:hover {
    text-decoration: none;
    background-color: white;
}

.fa-gamepad {
    font: bold;
    color: white;
}

.fa-edit {
    font: bold;
    color: white;
}

.fa-trash {
    font: bold;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    margin: 10px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    margin: 10px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    margin: 10px;
}

.fa-instagram {
    background: #125688;
    color: white;
    margin: 10px;
}

.fa-youtube {
    background: red;
    color: white;
    margin: 10px;
}